mat-list{
    color: white !important;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
mat-list-item{
    color: white !important;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
mat-list-item p{
    padding: 15px;
    font-size: large;
}